<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xh.back.mapper.AdminMapper">
	<sql id="parametername">
		ADMINID,ADMINNAME,ADMINPASSWORD,ADMINPHONE,ADMINEMAIL,ADMINLOGINTIME
		,ADMINLASTTIME,ADMINLASTIP,ADMINPHOTO,ADMINDESCRIBE
	</sql>
	<sql id="key">
		<trim suffixOverrides=",">
		  <if test="adminname != null and !&quot;&quot;.equals(adminname.trim())">
	      	ADMINNAME,
	      </if>
	      <if test="adminpassword != null and !&quot;&quot;.equals(adminpassword.trim())">
	      	ADMINPASSWORD,
	      </if>
	      <if test="adminphone != null and !&quot;&quot;.equals(adminphone.trim())">
	      	ADMINPHONE,
	      </if>
	      <if test="adminemail != null and !&quot;&quot;.equals(adminemail.trim())">
	      	ADMINEMAIL,
	      </if>
	      <if test="adminlogintime != null">
	      	ADMINLOGINTIME,
	      </if>
	      <if test="adminlasttime != null">
	      	ADMINLASTTIME,
	      </if>
	      <if test="adminlastip != null and !&quot;&quot;.equals(adminlastip.trim())">
	      	ADMINLASTIP,
	      </if>
	      <if test="adminphoto != null and !&quot;&quot;.equals(adminphoto.trim())">
	      	ADMINPHOTO,
	      </if>
	      <if test="admindescribe != null and !&quot;&quot;.equals(admindescribe.trim())">
	      	ADMINDESCRIBE,
	      </if>
		</trim>
	</sql>
	
	<sql id="values">
		<trim suffixOverrides=",">
		  <if test="adminname != null and !&quot;&quot;.equals(adminname.trim())">
	      	#{adminname},
	      </if>
	      <if test="adminpassword != null and !&quot;&quot;.equals(adminpassword.trim())">
	      	#{adminpassword},
	      </if>
	      <if test="adminphone != null and !&quot;&quot;.equals(adminphone.trim())">
	      	#{adminphone},
	      </if>
	      <if test="adminemail != null and !&quot;&quot;.equals(adminemail.trim())">
	      	#{adminemail},
	      </if>
	      <if test="adminlogintime != null">
	      	#{adminlogintime},
	      </if>
	      <if test="adminlasttime != null">
	      	#{adminlasttime},
	      </if>
	      <if test="adminlastip != null and !&quot;&quot;.equals(adminlastip.trim())">
	      	#{adminlastip},
	      </if>
	      <if test="adminphoto != null and !&quot;&quot;.equals(adminphoto.trim())">
	      	#{adminphoto},
	      </if>
	      <if test="admindescribe != null and !&quot;&quot;.equals(admindescribe.trim())">
	      	#{admindescribe},
	      </if>
	    </trim>
	</sql>
<!-- 通过用户名查找admin信息-->
    <select id="selectAdminByName" parameterType="xhadmin" resultType="xhadmin">
  		SELECT adminId,adminName,adminPassword FROM xhAdmin where adminName=#{adminname}
    </select>
	
	<update id="updateAdminIpAndTime" parameterType="xhadmin">
		UPDATE xhAdmin 
		set adminLastIp = #{adminlastip},adminLastTime = #{adminlasttime}
		where adminName = #{adminname}
	</update>
	
	<select id="queryAdminList" resultType="com.xh.back.bean.Xhadmin">
		SELECT ADMINID,ADMINNAME,ADMINPASSWORD,ADMINPHONE,ADMINEMAIL,ADMINLOGINTIME
				,ADMINLASTTIME,ADMINLASTIP,ADMINPHOTO,ADMINDESCRIBE
		FROM xhAdmin ORDER BY ADMINID
	</select>
	
	<select id="getAdmin" parameterType="int" resultType="com.xh.back.bean.Xhadmin">
		SELECT  <include refid="parametername"></include>
		FROM xhAdmin WHERE ADMINID = #{id}
	</select>
	
	<delete id="deleteAdminById" parameterType="int">
		DELETE FROM xhAdmin WHERE ADMINID=#{id};
	</delete>
	
	<update id="modifyAdmin" parameterType="com.xh.back.bean.Xhadmin">
		UPDATE xhAdmin
		<trim prefix="set" suffixOverrides=",">
	      <if test="adminname != null and !&quot;&quot;.equals(adminname.trim())">
	      	ADMINNAME = #{adminname},
	      </if>
	      <if test="adminpassword != null and !&quot;&quot;.equals(adminpassword.trim())">
	      	ADMINPASSWORD = #{adminpassword},
	      </if>
	      <if test="adminphone != null and !&quot;&quot;.equals(adminphone.trim())">
	      	ADMINPHONE = #{adminphone},
	      </if>
	      <if test="adminemail != null and !&quot;&quot;.equals(adminemail.trim())">
	      	ADMINEMAIL = #{adminemail},
	      </if>
	      <if test="adminlogintime != null">
	      	ADMINLOGINTIME = #{adminlogintime},
	      </if>
	      <if test="adminlasttime != null">
	      	ADMINLASTTIME = #{adminlasttime},
	      </if>
	      <if test="adminlastip != null and !&quot;&quot;.equals(adminlastip.trim())">
	      	ADMINLASTIP = #{adminlastip},
	      </if>
	      <if test="adminphoto != null and !&quot;&quot;.equals(adminphoto.trim())">
	      	ADMINPHOTO = #{adminphoto},
	      </if>
	      <if test="admindescribe != null and !&quot;&quot;.equals(admindescribe.trim())">
	      	ADMINDESCRIBE = #{admindescribe},
	      </if>
	    </trim>
	    WHERE ADMINID = #{adminid}
	</update>
	
	<insert id="addAdmin" parameterType="com.xh.back.bean.Xhadmin">
	  INSERT INTO xhAdmin (<include refid="key" />) values(<include refid="values"/>)
	</insert>
	
</mapper>