<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xh.back.mapper.BrandMapper">
<!--brand信息-->
	
	<select id="queryAllBrands" resultType="xhbrand">
		SELECT brandID,brandName,brandDesc FROM xhBrand
	</select>
	
	<select id="queryBrandById" parameterType="int" resultType="xhbrand">
		SELECT brandID,brandName,brandDesc FROM xhBrand WHERE brandID=#{id}
	</select>
	
	<select id="insertBrand" parameterType="xhbrand">
		INSERT INTO xhBrand( brandName,brandDesc) VALUES(#{brandname},#{branddesc});
	</select>
	
	<update id="updateBrandById" parameterType="xhbrand">
		UPDATE xhBrand 
		SET brandName=#{brandname}, brandDesc=#{branddesc}
		WHERE brandID=#{brandid}
	</update> 
	
	<delete id="deleteBrandById" parameterType="int">
		DELETE FROM xhBrand WHERE brandid = #{id}
	</delete>
</mapper>