<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xh.back.mapper.CategoryMapper">

	  <resultMap id="queryAllCategoryMap" type="com.xh.back.bean.Xhcategory">
	    <id column="catID1" jdbcType="INTEGER" property="catid" />
	    <result column="catName1" jdbcType="VARCHAR" property="catname" />
	    <result column="catDesc1" jdbcType="VARCHAR" property="catdesc" />
	    <result column="sortOrder1" jdbcType="INTEGER" property="sortorder" />
	    <result column="isShow1" jdbcType="INTEGER" property="isshow" />
	    <result column="catGrade1" jdbcType="INTEGER" property="catgrade" />
	    <result column="parentID1" jdbcType="INTEGER" property="parentid" />
	    <collection property="category" ofType="com.xh.back.bean.Xhcategory">
	    	<id column="parentID1" jdbcType="INTEGER" property="parentid" />
	    	<result column="catID2" jdbcType="INTEGER" property="catid" />
	    	<result column="parentID2" jdbcType="INTEGER" property="parentid" />
			<result column="catName2" jdbcType="VARCHAR" property="catname"/>
			<result column="catDesc2" jdbcType="VARCHAR" property="catdesc" />
		    <result column="catGrade" jdbcType="INTEGER" property="catgrade" />
		    <result column="isShow2" jdbcType="INTEGER" property="isshow" />
		    
	    </collection>
	      
	  </resultMap>

	<select id="queryAllCategory" resultMap="queryAllCategoryMap">
		SELECT c1.catName catName1,c1.catID catID1,c1.catDesc catDesc1,c1.catGrade catGrade,
		c1.isShow isShow1,c1.catGrade catGrade1,c1.parentID parentID1,  
		c2.catID catID2,c2.parentID parentID2,c2.catName catName2 ,c2.catDesc catDesc2,
		c2.isShow isShow2,c2.sortOrder sortOrder2 
		FROM xhCategory c1 JOIN xhCategory c2
		WHERE c1.parentID =c2.catID
	</select>
	
	<select id="queryCategoryByGrade" resultType="xhcategory" parameterType="int">
		SELECT catID,parentID,catGrade,catName,catDesc,sortOrder,isShow 
		FROM xhCategory
		WHERE catGrade=#{grade}
	</select>
	
	<select id="queryCategoryById" resultType="xhcategory">
		SELECT catID,parentID,catGrade,catName,catDesc,sortOrder,isShow 
		FROM xhCategory
		WHERE catID=#{id}
	</select>
	
	<insert id="insertCategory" parameterType="xhcategory">
		INSERT  INTO xhCategory(parentID,catGrade,catName,catDesc,sortOrder,isShow)
		VALUES(#{parentid},#{catgrade},#{catname},#{catdesc},#{sortorder},#{isshow})
	</insert>
	
	<delete id="deleteCategoryById" parameterType="int">
		DELETE FROM xhCategory WHERE catID=#{id}
	</delete>
	
	<update id="updateCategoryById" parameterType="xhcategory">
		UPDATE xhCategory
		SET parentID=#{parentid},catName=#{catname},catDesc=#{catdesc},
		sortOrder=#{sortorder},isShow=#{isshow},catGrade=#{catgrade}
		WHERE catID =#{catid}
	</update>
	
	<select id="categoryList" resultType="xhcategory">
		SELECT catID,parentID,catName,catDesc,sortOrder,isShow,catGrade FROM xhCategory
	</select>

<resultMap type="category_product" id="queryAllCPMap">
	<id column="id" property="id"/>
	<result column="pId" property="pid"/>
	<result column="catId" property="catid"/>
	<association property="product" javaType="xhproduct">
		
		<result column="pName" property="pname"/>
	</association>
	<association property="category" javaType="xhcategory">
		
		<result column="catName" property="catname"/>
	</association>
</resultMap>
	
<select id="queryAllCP" resultMap="queryAllCPMap">
	SELECT cp.id,p.pID,p.pName,c.catID,c.catName FROM xhProduct p
	JOIN category_product cp
	ON p.pID = cp.pId
	JOIN xhCategory c
	ON cp.catId = c.catID
</select>

<select id="queryALLCPById" parameterType="int">
	SELECT cp.id,cp.pID,p.pName,cp.catID,c.catName FROM xhProduct p
	JOIN category_product cp
	ON p.pID = cp.pId
	JOIN xhCategory c
	ON cp.catId = c.catID
	WHERE c.catID =#{id}
</select>

<insert id="insertCP" parameterType="category_product">
	INSERT INTO category_product(pID,catID)
	VALUES(#{pid},#{catid})
</insert>

<delete id="deleteCP" parameterType="int">
	DELETE FROM category_product
	WHERE id=#{id}	
</delete>
<resultMap type="com.xh.back.bean.Xhcategory" id="queryAllCPForHomeMap">
	<id column="catID" property="catid"/>
	<result column="catName" property="catname"/>
	<collection property="categorys" ofType="xhcategory">
		<id column="catID1" property="catid"/>
		<result column="catName1" property="catname"/>
		<collection property="products" ofType="xhproduct">
			<id column="pID" property="pid"/>
			<result column="pName" property="pname"/>
			<result column="pImg" property="pimg"/>
			<result column="pSale" property="psale"/>
		</collection>
	</collection>
</resultMap>

<select id="queryAllCPForHome" resultMap="queryAllCPForHomeMap">
	SELECT c1.catID,c1.catName,
	c2.catID catId1,c2.catName catName1,
	p.pID,p.pName,p.pImg,p.pSale 
	FROM xhCategory c1
	JOIN xhCategory c2
	ON c1.catID=c2.parentID
	JOIN category_product cp
	ON c2.catID=cp.catId
	JOIN xhProduct p
	ON cp.pId=p.pID
	WHERE c1.catID NOT IN (1)
</select>

<select id="queryAllProductByCategory" resultType="xhproduct" parameterType="int">
	SELECT p.pID,p.pName,p.pImg,p.pSale 
	FROM xhCategory c
	JOIN category_product cp
	ON c.catID=cp.catId
	JOIN xhProduct p
	ON cp.pId=p.pID
	WHERE c.catID=#{id}
</select>

<select id="queryAllProductsByCatid" resultType="xhproduct" parameterType="int">
	SELECT p.pID,p.pName,p.pImg,p.pSale
	FROM xhCategory c1
	JOIN xhCategory c2
	ON c2.parentID=c1.catID
	JOIN category_product cp
	ON c2.catID=cp.catId
	JOIN xhProduct p
	ON cp.pId=p.pID
	WHERE c1.catID=#{id}	
</select>
	
</mapper>