<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xh.back.mapper.OrderMapper">

	<resultMap id="queryOrderInforByIdMap" type="com.xh.back.bean.Xhorderinfo">
	    <id column="orderID" jdbcType="INTEGER" property="orderid" />
 	    <result column="orderTime" jdbcType="VARCHAR" property="ordertime" />
	    <result column="orderStatus" jdbcType="INTEGER" property="orderstatus" /> 
	    <result column="shoppingStatus" jdbcType="INTEGER" property="shoppingstatus" />
	    <result column="payStatus" jdbcType="INTEGER" property="paystatus" />
	    <result column="addUserName" jdbcType="VARCHAR" property="addusername" />
	    <result column="addCountry" jdbcType="VARCHAR" property="addcountry" />
	    <result column="addProvince" jdbcType="VARCHAR" property="addprovince" />
	    <result column="addCity" jdbcType="VARCHAR" property="addcity" />
	    <result column="addDistrict" jdbcType="VARCHAR" property="adddistrict" />
	    <result column="addAddress" jdbcType="VARCHAR" property="addaddress" />
	    <result column="addCode" jdbcType="VARCHAR" property="addcode" />
	    <result column="addPhone" jdbcType="VARCHAR" property="addphone" />
	    <result column="goodAmount" jdbcType="INTEGER" property="goodamount" />
	    <result column="shoppingFee" jdbcType="DOUBLE" property="shoppingfee" />
	    <result column="payFee" jdbcType="DOUBLE" property="payfee" />
	    <result column="payTime" jdbcType="VARCHAR" property="paytime" />
	    <association property="users" javaType="com.xh.front.bean.Xhusers">
	    	<id column="userID" jdbcType="INTEGER" property="userid" />
			<result column="gradeID" jdbcType="VARCHAR" property="gradeid" />
			<result column="userName" jdbcType="VARCHAR" property="username" />
			<result column="userPassword" jdbcType="VARCHAR" property="userpassword" />
			<result column="userSex" jdbcType="INTEGER" property="usersex" />
			<result column="userBirthday" jdbcType="DATE" property="userbirthday" />
			<result column="userPhone" jdbcType="VARCHAR" property="userphone" />
			<result column="userEmail" jdbcType="VARCHAR" property="useremail" />
			<result column="userAddress" jdbcType="VARCHAR" property="useraddress" />
			<result column="userLoginTime" jdbcType="DATE" property="userlogintime" />
			<result column="userlasttime" jdbcType="DATE" property="userlasttime" />			
			<result column="userLastIp" jdbcType="VARCHAR" property="userlastip" />
			<result column="userVisitCount" jdbcType="INTEGER" property="uservisitcount" />
			<result column="userHomePhone" jdbcType="VARCHAR" property="userhomephone" />
			<result column="userPhoto" jdbcType="VARCHAR" property="userphoto" />
			<result column="userMoney" jdbcType="DOUBLE" property="usermoney" />
			<result column="userIntegral" jdbcType="DOUBLE" property="userintegral" />     
	    </association>
	    <association property="shopping" javaType="com.xh.back.bean.Xhshopping">
	    	<id column="shoppingID" jdbcType="INTEGER" property="shoppingid" />
			<result column="shoppingCode" jdbcType="VARCHAR" property="shoppingcode" />
			<result column="shoppingName" jdbcType="VARCHAR" property="shoppingname" />
			<result column="shoppingDesc" jdbcType="VARCHAR" property="shoppingdesc" />
			<result column="enable" jdbcType="INTEGER" property="enable" />
			<result column="shoppingImg" jdbcType="VARCHAR" property="shoppingimg" />
	    </association>  
	  </resultMap>
	
    <!-- 查询所有订单信息 -->
	<select id="queryOrderInfor" resultMap="queryOrderInforByIdMap">
    SELECT o.orderID,o.userID,o.shoppingID,u.userName,o.orderTime,o.orderStatus,o.shoppingStatus,
    o.payStatus,o.addUserName,o.addCountry,o.addProvince,o.addCity, 
    o.addDistrict,o.addAddress,o.addCode,o.addphone,s.shoppingCode,s.shoppingName,s.shoppingImg,
    o.goodAmount,o.shoppingFee,o.payFee,o.payTime
	FROM xhOrderInfo o,xhUsers u,xhShopping s
	where o.userID=u.userID and o.shoppingID=s.shoppingID
    </select>
	
	<!--根据订单ID查询订单 --> 
	<select id="queryOrderByPrimaryKey" resultMap="queryOrderInforByIdMap" parameterType="int">
    SELECT o.orderID,o.userID,o.shoppingID,u.userName,o.orderTime,o.orderStatus,o.shoppingStatus,
    o.payStatus,o.addUserName,o.addCountry,o.addProvince,o.addCity, 
    o.addDistrict,o.addAddress,o.addCode,o.addphone,s.shoppingCode,s.shoppingName,s.shoppingImg,
    o.goodAmount,o.shoppingFee,o.payFee,o.payTime
	FROM xhOrderInfo o,xhUsers u,xhShopping s
	where o.userID=u.userID and o.shoppingID=s.shoppingID and o.orderID=#{orderid,jdbcType=INTEGER}
    </select>
    
    
    <!-- 根据订单ID删除订单信息 -->
	<delete id="deleteOrderByPrimaryKey" parameterType="int">
    delete from xhOrderInfo 
    where orderID=#{orderid,jdbcType=INTEGER}
  	</delete>
  	
  	<!-- 添加订单 -->
	<insert id="addOrder" parameterType="xhorderinfo">
    insert into xhOrderInfo (
    	userID,shoppingID,orderTime,
    	orderStatus,shoppingStatus,
    	payStatus,addUserName,
    	addCountry,addProvince,
    	addCity,addDistrict,addAddress,
    	addCode,addPhone,goodAmount,shoppingFee,payFee,payTime
      )
    values(#{userid},#{shoppingid},#{ordertime},#{orderstatus},#{shoppingstatus},
    		#{paystatus},#{addusername},#{addcountry},
    		#{addprovince},#{addcity},#{adddistrict},
    		#{addaddress},#{addcode},#{addphone}, 
    		#{goodamount},#{shoppingfee},#{payfee},#{paytime})
  </insert>
  
  <!-- 修改订单 -->
	<update id="updateOrderByPrimaryKey" parameterType="xhorderinfo">
     update xhOrderInfo set 
     userID=#{userid},shoppingID=#{shoppingid},orderTime=#{ordertime},
     orderStatus=#{orderstatus},shoppingStatus=#{shoppingstatus},payStatus=#{paystatus},
     addUserName=#{addusername},addCountry=#{addcountry},addProvince=#{addprovince},
     addCity=#{addcity},addDistrict=#{adddistrict},addAddress=#{addaddress},
     addCode=#{addcode},addPhone=#{addphone},goodAmount=#{goodamount},
     shoppingFee=#{shoppingfee},payFee=#{payfee},payTime=#{paytime}
       
     where orderID = #{orderid,jdbcType=INTEGER}
  	</update>
  	
  	<!-- 城市三级联动查询 -->
  <resultMap id="BaseResultMap" type="com.xh.back.bean.OrderCity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cityid" property="cityid" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="provinceid" property="provinceid" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="BaseResultMap1" type="com.xh.back.bean.OrderArea" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="areaid" property="areaid" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="cityid" property="cityid" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="getCityByProvinceId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select * from cities where provinceid = #{id,jdbcType=VARCHAR}
  </select>
  	
  <select id="getProvince" resultType="orderprovince">
  	select * from provinces
  </select>	
  
  <select id="getAreaByCityId" resultMap="BaseResultMap1" parameterType="java.lang.String">
  	select * from areas where cityid = #{id,jdbcType=VARCHAR}
  </select>
  	
  <!--  查询快递列表
    <select id="queryAllMessage" resultType="xhmessage">
    	select * from xhMessage
    </select>
    
    根据用户ID查询留言列表
    <select id="queryMsgByPrimarykey" resultType="xhmessage" parameterType="int">
    	select * from xhMessage where msgID=#{msgid}
    </select>
    
	增加留言列表
	<insert id="addMessage" parameterType="xhmessage">
    insert into xhMessage (
    	userId,
    	msgInitTime,
    	msgTxt
      )
    values (#{userid}, #{msginittime}, #{msgtxt})
  </insert>
	
	根据用户ID清空留言内容
	<update id="cleanMessageContextByPrimaryKey" parameterType="int">
    update xhMessage set msgTxt =null 
    where msgID = #{msgid,jdbcType=INTEGER}
   </update>
	
	根据用户ID清空留言信息
	<update id="cleanMessageByPrimaryKey" parameterType="int">
    update xhMessage set msgTxt =null,msgInitTime=null 
    where msgID = #{msgid,jdbcType=INTEGER}
   </update>
	
	根据留言ID更新留言信息
	<delete id="updateMessageByPrimaryKey" parameterType="xhmessage">
     update xhMessage set msgTxt =#{msgtxt,jdbcType=VARCHAR},msgInitTime=#{msginittime}  
     where msgID = #{msgid,jdbcType=INTEGER}
  	</delete>
	
	根据留言ID删除留言信息
	<delete id="deleteMessageByPrimaryKey" parameterType="int">
    delete from xhMessage 
    where msgID=#{msgid,jdbcType=INTEGER}
  	</delete> -->
	
	
</mapper>