<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xh.back.mapper.UserMessageMapper">

	<resultMap id="queryUserMessageByIdMap" type="com.xh.back.bean.Xhmessage">
	    <id column="msgId" jdbcType="INTEGER" property="msgid" />
 	    <result column="msgTxt" jdbcType="VARCHAR" property="msgtxt" />
	    <result column="msgInitTime" jdbcType="VARCHAR" property="msginittime" /> 
	     <association property="users" javaType="com.xh.front.bean.Xhusers">
	    	<id column="userID" jdbcType="INTEGER" property="userid" />
			<result column="gradeID" jdbcType="VARCHAR" property="gradeid" />
			<result column="userName" jdbcType="VARCHAR" property="username" />
			<result column="userPassword" jdbcType="VARCHAR" property="userpassword" />
			<result column="userSex" jdbcType="INTEGER" property="usersex" />
			<result column="userBirthday" jdbcType="DATE" property="userbirthday" />
			<result column="userPhone" jdbcType="VARCHAR" property="userphone" />
			<result column="userEmail" jdbcType="VARCHAR" property="useremail" />
			<result column="userAddress" jdbcType="VARCHAR" property="useraddress" />
			<result column="userLoginTime" jdbcType="DATE" property="userlogintime" />
			<result column="userlasttime" jdbcType="DATE" property="userlasttime" />			
			<result column="userLastIp" jdbcType="VARCHAR" property="userlastip" />
			<result column="userVisitCount" jdbcType="INTEGER" property="uservisitcount" />
			<result column="userHomePhone" jdbcType="VARCHAR" property="userhomephone" />
			<result column="userPhoto" jdbcType="VARCHAR" property="userphoto" />
			<result column="userMoney" jdbcType="DOUBLE" property="usermoney" />
			<result column="userIntegral" jdbcType="DOUBLE" property="userintegral" />     
	    </association>  
	  </resultMap>
	
    <!-- 查询所有留言用户 -->
	<select id="queryUserMessage" resultMap="queryUserMessageByIdMap">
    SELECT u.userID,m.msgID,u.userName,m.msgInitTime,m.msgTxt
	FROM xhMessage m JOIN xhUsers u ON m.userID=u.userID
    </select>
	
	<!-- 根据用户ID查询用户留言  -->
	<select id="querymsgByPrimaryKey" resultMap="queryUserMessageByIdMap" parameterType="int">
    SELECT u.userID,m.msgID,u.userName,m.msgInitTime,m.msgTxt
	FROM xhMessage m JOIN xhUsers u ON m.userID=u.userID
	where m.msgID=#{msgid,jdbcType=INTEGER}
    </select>
    
    <!-- 查询留言列表-->
    <select id="queryAllMessage" resultType="xhmessage">
    	select * from xhMessage
    </select>
    
    <!--根据用户ID查询留言列表-->
    <select id="queryMsgByPrimarykey" resultType="xhmessage" parameterType="int">
    	select * from xhMessage where msgID=#{msgid}
    </select>
    
	<!--增加留言列表-->
	<insert id="addMessage" parameterType="xhmessage">
    insert into xhMessage (
    	userId,
    	msgInitTime,
    	msgTxt
      )
    values (#{userid}, #{msginittime}, #{msgtxt})
  </insert>
	
	<!--根据用户ID清空留言内容-->
	<update id="cleanMessageContextByPrimaryKey" parameterType="int">
    update xhMessage set msgTxt =null 
    where msgID = #{msgid,jdbcType=INTEGER}
   </update>
	
	<!--根据用户ID清空留言信息-->
	<update id="cleanMessageByPrimaryKey" parameterType="int">
    update xhMessage set msgTxt =null,msgInitTime=null 
    where msgID = #{msgid,jdbcType=INTEGER}
   </update>
	
	<!--根据留言ID更新留言信息 -->
	<delete id="updateMessageByPrimaryKey" parameterType="xhmessage">
     update xhMessage set msgTxt =#{msgtxt,jdbcType=VARCHAR},msgInitTime=#{msginittime}  
     where msgID = #{msgid,jdbcType=INTEGER}
  	</delete>
	
	<!--根据留言ID删除留言信息 -->
	<delete id="deleteMessageByPrimaryKey" parameterType="int">
    delete from xhMessage 
    where msgID=#{msgid,jdbcType=INTEGER}
  	</delete>
	
	
</mapper>