@CHARSET "UTF-8";
body{
	background-color:#DCDCDC; 
}

.login{
	  width: 24em;
	  height: 24em;
	  background-color: white;
	  margin: 6em auto;
	}
.logol-d{
	background-color:#F5F5F5;
	width: 20em;
   height: 1.2em;
   border-radius:4px;
   position: absolute;
   padding:1em 2em;
}
.logol{
   margin:auto;
   padding-left:7.6em;
   position: absolute;
}
.login-user{
	padding: 6em 2em;
	position: absolute;
 }
.login-p{
	
}
.login-input{
	width: 23em;
	height: 3em;
	position: absolute;
	margin-top:-1em;
	border: 1px solid #A9A9A9;
	font-size: 14px;
    color: #666; 
    padding-left: 0.7em;
    padding-top: 0.2em;
	
}
.login-pwds{
	margin: 8.7em 2em;
	position: absolute;
	
}
.login-uimage{
	margin-top:4.5em;
	margin-left:20.3em;
	width: 1.6em;
	height: 1.6em;
	position: absolute;
}
.login-pimage{
	margin-top:7.4em;
	margin-left:20.3em;
	width: 1.6em;
	height: 1.6em;
	position: absolute;
}
.login-mm{
	
}
.login-pass{
	width: 23em;
	height: 3em;
	position: absolute;
	margin-top:-0.9em;
	border: 1px solid #A9A9A9;
	font-size: 14px;
    color: #666;
    padding-left: 0.7em;
    padding-top: 0.2em;
}
.login-yz{
	margin: 11.8em 2em;
	position: absolute;
}

.login-yzborder{
	width: 13em;
	height: 3em;
	position:absolute;
	margin-top:-1em;
	border: 1px solid #A9A9A9;
	font-size: 14px;
    color: #666;
    padding-left: 0.7em;
}
.login-yzborder1{
	
	 width: 6em;
	height: 2.5em; 
	position: absolute; 
	margin-left:11.3em; 
	margin-top:-0.84em;
	border: 1px solid #A9A9A9;
}
.login-hyza {
    float:right;
    position: relative;
    margin-left: 22em;
    text-decoration: none;
    color: blue;
    font-size:13px;
    
} 
.submit{
	width: 23em;
	height: 3em;
	position: absolute;
	margin-top:3.5em;
	border: 1px solid #ddd;
	font-size: 14px;
	background-color:#4169E1;
    color: white;
    border-radius:4px; 
}
.register{
	float:right;
    position: relative;
    margin-right:2.4em;
    margin-top:18.8em;
    text-decoration: none;
    color: blue;
    font-size:15px;
}


 
