<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xh.front.mapper.PayMapper">

	<select id="queryOrderById" parameterType="int" resultType="xhorderinfo">
		select orderID,payFee,addUserName,payStatus
		from xhOrderInfo
		where orderID = #{orderid}
	</select>
	
	<update id="updatePayStatus" parameterType="xhorderinfo">
		update xhOrderInfo
		set payStatus = #{paystatus}
		where orderID = #{orderid}
	</update>
			
</mapper>	