<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xh.front.mapper.ProductListMapper">

	<select id="queryAllProductByFind" parameterType="string" resultType="xhproduct">
		select pID,pName,pSale,pImg
		from xhProduct
		where pName like "%"#{pname}"%"
	</select>
	
	<select id="queryCount" parameterType="string" resultType="int">
		select count(*)
		from xhProduct
		where pName like "%"#{pname}"%"	
	</select>
	
	<select id="queryProductOrderByPsaleDesc" parameterType="string" resultType="xhproduct">
		select pID,pName,pSale,pImg
		from xhProduct
		where pName like "%"#{pname}"%"
		order by pSale desc
	</select>
			
</mapper>	