<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
    
        <property name="securityManager" ref="securityManager"/>
   		<property name="loginUrl" value="/home/home.action"/>
        <property name="unauthorizedUrl" value="/jsp/back/404.jsp"/>
        
       <!--  <property name="filters">
            <map>
                <entry key="sperm" value-ref="myFilter"/>
            </map>
        </property>  -->
        <property name="filterChainDefinitions">
            <value>
            	/front/css/**=anon
            	/front/images/**=anon
            	/front/js/**=anon
            	/upload/**=anon
            	/front/login.jsp=anon
            	/front/Regist.jsp=anon
            	/front/Login.jsp=anon
            	/front/FindProductList.jsp=anon
            	/front/Forget_Login.jsp=anon
            	/front/index.jsp=anon
            	/front/product.jsp=anon
            	/front/productlist.jsp=anon
            	/front/productlistByBrandid.jsp=anon
            	/front/productlistByCatid.jsp=anon
            	/front/ProductPsaleDesc.jsp=anon
            	
            	/user/login.action=anon
            	/home/queryproductsByCategory.action=anon
            	/home/queryAllProductsByCatid.action=anon
            	/home/queryProductsByBrand.action=anon
            	/ProductDetails/queryImagesByPid.action=anon
            	/ProductList/queryAllProductByFind.action=anon
            	/ProductList/queryProductOrderByPsaleDesc.action=anon
            	/trolley/addTroItem.action=anon
            	/home/head.action=anon
            	/Pay/viewOrder.action=anon
            	/jsp/back/loginbackstage.jsp=anon
            	/resource/**=anon
              	/admin/login.action=anon
              	/logout.action=logout          	
                /**=anon
            </value>
   		 </property>
    </bean>

    <bean id="adminRealm" class="com.other.shiro.AdminRealm"/>

    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="adminRealm"/>
    	<property name="cacheManager" ref="ehCacheManager"/>
        <property name="sessionManager" ref="sessionManager"/>
      	<!-- <property name="rememberMeManager" ref="rememberMeManager"/> -->
    </bean>

  	<bean id="ehCacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:ehcache-shiro.xml"/>
    </bean>

    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="globalSessionTimeout" value="600000"/>
        <property name="deleteInvalidSessions" value="true"/>
    </bean>
 
    <bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
        <property name="cookie" ref="rememberMeCookie"/>
    </bean> 
   
    <bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg value="weiGe"/>
        <property name="maxAge" value="2592000"/>
    </bean>  

   <!--  <bean id="myFilter" class="com.other.shiro.CustomFormAuthenticationFilter">
        <property name="usernameParam" value="adminname"/>
        <property name="passwordParam" value="adminpassword"/>
    </bean>  -->

</beans>
