<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	

	<!-- service的注册 -->
	<bean id="adminService" class="com.xh.back.serviceImpl.AdminServiceImpl"/>
	<bean id="userService" class="com.xh.back.serviceImpl.XhUserServiceImpl"/>
	<bean id="userGrade" class="com.xh.back.serviceImpl.UserGradeServiceImpl"/>
	<bean id="userMessage" class="com.xh.back.serviceImpl.UserMessageServiceImpl"/>	
	<bean id="xhUserService" class="com.xh.front.serviceImpl.XhUserServiceImpl"/>
	<bean id="orderService" class="com.xh.back.serviceImpl.OrderServiceImpl"/>
	<bean id="orderGoodsService" class="com.xh.back.serviceImpl.OrderGoodsServiceImpl"/>
	<bean id="expressService" class="com.xh.back.serviceImpl.ExpressServiceImpl"/>
	<bean id="frontOrderService" class="com.xh.front.serviceImpl.FrontOrderServiceImpl"/>
	<!-- <context:component-scan base-package="com.xh.back.serviceImpl"/> -->
	<bean id="productService" class="com.xh.back.serviceImpl.ProductServiceImpl"/>
	<bean id="brandService" class="com.xh.back.serviceImpl.BrandServiceImpl"/> 	
	<bean id="salesService" class="com.xh.back.serviceImpl.SalesServiceImpl"/>
	<bean id="repertoryService" class="com.xh.back.serviceImpl.RepertoryServiceImpl"/>
	<bean id="categoryService" class="com.xh.back.serviceImpl.CategoryServiceImpl"/>
	<!-- <bean id="repertoryService" class="com.xh.back.serviceImpl.TrolleyServiceImpl"/> -->
	<bean id="xhTrolleyService" class="com.xh.back.serviceImpl.XhTrolleyServiceImpl"/>
	<bean id="areaService" class="com.xh.back.serviceImpl.AreaServiceImpl"/>
	<bean id="cityService" class="com.xh.back.serviceImpl.CityServiceImpl"/>
	<bean id="provinceService" class="com.xh.back.serviceImpl.ProvinceServiceImpl"/>
	<bean id="roleService" class="com.xh.back.serviceImpl.RoleServiceImpl"/>
	<!-- <bean id="adService" class="com.xh.back.serviceImpl.AdServiceImpl"/> -->
	<bean id="adService" class="com.xh.back.serviceImpl.AdServiceImpl"/>
	<bean id="commentService" class="com.xh.back.serviceImpl.CommentServiceImpl"/>
	<bean id="productDetailsService" class="com.xh.front.serviceImpl.ProductDetailsServiceImpl"/>
	<bean id="productListService" class="com.xh.front.serviceImpl.ProductListServiceImpl"></bean>
	<bean id="navbarService" class="com.xh.front.serviceImpl.NavbarServiceImpl"/>
</beans>
	
